
.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-container > div {
    display: flex;
}

.container-top {
    flex: 10;
    height: 100vh;
    justify-content: center;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--claro-1);
    font-size: 50px;
}

.container-a {
    flex: 40;
    flex-direction: row;
}

.container-b {
    flex: 40;
    flex-direction: row;
}

.sub-container {
    flex: 50;
}

.container-bottom {
    flex: 10;
}

:root {
    --oscuro-4: #1e0721;
    --oscuro-3: #23132d;
    --oscuro-2: #26203a;
    --oscuro-1: #30324d;

    --claro-4: #444a65;
    --claro-3: #5d687c;
    --claro-2: #7c8893;
    --claro-1: #9ba9ab;
}

body {
    overflow: hidden;
    background-color: var(--claro-4);
    background-image: linear-gradient(var(--claro-4), var(--oscuro-4));
}

.fondo {
    width: 100vw;
    height: 100vh;
}

img {
    height: 200px;
    
}

